@import "./base.scss";

.main {
  position: relative;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.btn_pay {
  width: 560px;
  height: 88px;
  background: #0066ff;
  border-radius: 44px;
  font-size: 32px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
